body {
    font-size: 20px;
}

.uigreen {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uimystic {
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.displayTime {
    font-size: 2em;
}

@media only screen and (max-width: 450px) {
    .displayTime {
        font-size: 1.4em;
    }
    #showMeterTime {
        margin-top: 2px;
        padding-top: 1px;
        padding-bottom: 20px;
    }
}

#number {
    font-variant-numeric: tabular-nums;
    color: #001;
}

#timerStats {
    display: none;
}

#submit {
    font-size: .9em;
}

#submit:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}